<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ann Chambers Art</title>
    <meta property="og:title" content="Ann Chambers Art" />
    <meta property="og:image" content="http://annchambers.net/Content/art/aaa_thumb.JPG" />
    <meta property="og:site_name" content="Acylic and oil paintings by Ann Chambers" /><link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/lightbox.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.11.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/iefix.js")" type="text/javascript"></script>
    <script src="../../Scripts/lightbox.min.js      " type="text/javascript"></script>
</head>
<body>
<div class="outer">
<div class="top">
    <ul class="topmenu">
            @Html.Partial("_LoginPartial")
            <li><a href='@Url.Action("Index", "About")'>About</a></li>        
            <li><a href='@Url.Action("Index", "Links")'>Links</a></li>
            <li><a href='@Url.Action("Index", "Archive")'>Archive</a></li>
           <li><a href='@Url.Action("Index", "Viewing")'>Viewing</a></li>
            <li><a href='@Url.Action("Index", "Contact")'>Contact</a></li>
            <li><a href='@Url.Action("Index", "Home")'>Home</a></li>
    </ul>
</div>       
<h1>Ann Chambers Art</h1><br />
<table id="outer">
 <tr>
     <td>@if(ViewBag.Mode == "_itemDisplay") { @Html.Partial("_itemDisplay") }</td>
  <td class="innerseparator" ></td>
   <td class="leftside">
  <section id="main">
      @Scripts.Render("~/bundles/jquery")
      @Scripts.Render("~/bundles/bootstrap")
      @RenderSection("scripts", required: false)   
      @RenderBody()      
   </section>
 </td>
 </tr>
</table>    
<footer>
</footer>
</body>
</html>
