@model IEnumerable<ArtPostings.Models.ItemPosting>
@foreach (ArtPostings.Models.ItemPosting posting in Model)
{
    <tr>
        <td>
            <table class="posting">
                <tr>
                    @{ if (posting.Editing)
                        {
                            <td class="picturecell">
                                <a class='picturelink' href=@posting.FilePath rel='lightbox' title=@posting.Title>
                                    <img alt=@posting.ShortName width="120" title=@posting.ShortName src=@posting.FilePath />
                                </a>
                            </td>
                            <td class="itemtext">
                                <div class="itemheader">
                                    <strong>
                                        @posting.Header
                                    </strong>
                                    <div class="itemaction">
                                        Save
                                    </div>
                                </div>
                                <div class="itemdesc">@posting.Description</div><br /><br />
                                <div class="itemfooter"> @posting.Price | Size :@posting.Size</div>
                            </td>
                        }
                        else
                        {
                            <td class="picturecell">
                                <a class='picturelink' href=@posting.FilePath rel='lightbox' title=@posting.Title>
                                    <img alt=@posting.ShortName width='120px' title=@posting.ShortName src=@posting.FilePath />
                                </a>
                            </td>
                            <td class="itemtext">
                                <div class="itemheader">
                                    <strong>
                                        @posting.Header
                                    </strong>
                                    <div class="itemaction">
                                        @Html.ActionLink("Edit", "Edit", "Home", new { id = posting.Id }, null)
                                    </div>
                                </div>
                                <div class="itemdesc">@posting.Description</div><br /><br />
                                <div class="itemfooter"> @posting.Price | Size :@posting.Size</div>
                            </td>
                        }
                    }
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <hr />
        </td>
    </tr>
                        }