@model ArtPostings.Models.PictureFileRecordsViewModel
<script type="text/javascript">
    // causes list to be reloaded with filter in place depending on drop-down value
    function dropdownchange(event, statusvalue) {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("Index")', // controller-agnostic: this might call either the Archive or Home versions of 'Reload'
            data: { status: statusvalue, initial: false },
            type: 'GET',
            success: function(htmlstring) {
                refresh(htmlstring);
            },
            error: function (request, status, error) {
                var err_resp = (error == undefined || error == '') ? 'The server is not responding' : error;
                alert(err_resp);
            }
        });
    }

    function refresh(htmlstring) {
        debugger;
        // need to replace content at a fairly high level to ensure old postings are cleared out of the view
        $('#filelistcontainer').html(htmlstring);
        $('#filelistcontainer').show();
    }

    // deletes the file from the file system when the trash-can icon is clicked
    function filedelete(event, file, status) {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("FileDelete")',
            // the FilePromote controller action takes a 'PictureFileRecord' object as a parameter
            // That object has FileName and Status properties which are populated by the json data posted here
            // these are the only two properties required by the controller
            data: { FileName: file, Status: status },
            type: 'POST',
            success: function (responsedata, status, response) {
                debugger;
                refresh(responsedata.view);
                alert(responsedata.data.Message);
            },
             success: function (htmlstring) {
                debugger;
                refresh(htmlstring);
            },
            error: function (request, status, error) {
                debugger;
                var err_resp = (request.responseJSON == undefined || request.responseJSON == '')
                    ? 'The server is not responding'
                    : request.responseJSON.Message;
                alert(err_resp);
            },
        });

    }

    // promotes the file in its display list by calling a controller action when the promote icon is clicked
    function filepromote(event, file, status) {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("FilePromote")',
            // the FilePromote controller action takes a 'PictureFileRecord' object as a parameter
            // That object has FileName and Status properties which are populated by the json data posted here
            // these are the only two properties required by the controller
            data: { FileName: file, Status: status },
            type: 'GET',
            success: function (htmlstring) {
                debugger;
                // need to replace content at a fairly high level to ensure old postings are cleared out of the view
                $('#filelistcontainer').html(htmlstring);
                $('#filelistcontainer').show();
            },
            error: function (request, status, error) {
                debugger;
                var err_resp = (error == undefined || error == '') ? 'The server is not responding' : request.responsetext;
                alert(err_resp);
            }
        });

    }

    function startdrag(event, filepath) {
        event.dataTransfer.effectAllowed = "move";
        event.dataTransfer.setData("text", filepath);
        $('#dropzone-archive').css({ 'text-decoration': 'underline', 'font-size': '1.2em' });
        $('#dropzone-home').css({ 'text-decoration': 'underline', 'font-size': '1.2em' });
        $('#adminLink').css({ 'text-decoration': 'underline', 'font-size': '1.2em' });

    }

    function enddrag(event) {
        event.preventDefault();
        $('#dropzone-archive').css({ 'text-decoration': 'none', 'font-size': 'inherit' });
        $('#dropzone-home').css({ 'text-decoration': 'none', 'font-size': 'inherit' });
        $('#adminLink').css({ 'text-decoration': 'none', 'font-size': 'inherit' });
    }

    function drop_here(obj) {
        obj.event.preventDefault();
        var filepath = event.dataTransfer.getData("text");
        return $.ajax({
            url: '@Url.Action("MovePicture")',
            dataType: 'json',
            data: { filepath: filepath, archivedestination: obj.archive, displaydestination: obj.display },
            type: 'POST',
            success: function (responsedata, status, response) {
                debugger;
                alert(responsedata.Message)
            },
            error: function (request, status, error) {
                debugger;
                var err_resp = (request.responseJSON == undefined || request.responseJSON == '')
                    ? 'The server is not responding'
                    : request.responseJSON.Message;
                alert(err_resp);
            }
        });

        // in here, we'll call ..\archive\movepicture or ..\home\movepicture
    }

    function allow_drop_here(event) {
        event.preventDefault();
    }
</script>


<div id="status">
    @Html.DropDownList("StatusDropDown", Model.Statuses, new { onchange = "dropdownchange(event, this.value)", id = "selectstatus" })
</div><br /><br /><br />
<div id="filelistcontainer">
    @{if (Model.Status == "All" || Model.Status == "NotDisplayed")
        // somewhat defensive coding ...
        // The controller returns the appropriate partial view when the status dropdown changes.
        // So this is to get the correct partial view on first load - which always defaults to 'All' status
        // so the 'else' statement should never be hit
        {
            Html.RenderPartial("_NonOrderablePictureList");
        }
        else
        {
            Html.RenderPartial("_PictureList");
        }
    }
</div>
<div class="pageheader">
    Upload a new picture file ...
    <hr />
</div>
@using (@Html.BeginForm("UploadFile", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadForm" }))
{
    <input class="upload" type="file" name="FileUpload" />
    <input type="submit" name="Submit" value="Upload" />
}
<br /><br />
